.todo__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.todo__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.todo__alert--danger ul {
    margin: 0;
}

.todo__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
    width: 70%;
}

.create-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.create-form__item {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.create-form__item-input {
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-select{
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 20px;
    width: 30%;
    appearance: none;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo-table {
    text-align: left;
    margin-top: 40px;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.todo-table__header-span {
    margin-right: 40%;
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}
.search-form{
    display: flex;
    justify-content: space-between;
}

.search-form__item{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.search-form__item-input{
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form__item-select{
    height: 40px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-left: 20px;
        width: 30%;
        appearance: none;
}

.search-form__button{
    width: 20%;
}

.search-form__button-submit{
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 3px;
        background: #000;
        color: #fff;
        cursor: pointer;
}